
**{
    box-sizing: border-box;
    cursor: pointer;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: rgb(227, 231, 235);
    cursor: pointer;
}
.container{
    display: flex;
    width: 690px;
    height: 410px;
    position: relative;
    top: 190px;
    margin-left: 320px;
    
    border: 0;
    background-color: rgb(247, 253, 255);
    cursor: pointer;
}

.nameform{
    width: 300px;
    height: 310PX;
    border: 0 ;
    background-color: white;
    border-radius: 6px;
    margin-top: 50px;
    position: relative;
    right: 30px;
    left: 120px;
    font-size: xx-small;
    font-family: 'Times New Roman';
    display: inline-flex;
    flex-direction: column;
    column-count: 2;
    column-rule-width: 1px;
    cursor: pointer;
    
}

.writeup{
    border: 1px ;
    height: 120px;
    display: block;
    position: relative;
    left: 70px;
    top: 110px;

    

    .start{
        font-size: xx-small;
        opacity: 0.5;
        width: 225px;
        line-height: 1.5 ;

        
    }
}
#butt{
    width: 50px;
    height: 40px;
    border-radius: 35px;
    margin-bottom: 5px;
    border: 0px;
    background-color: lightsalmon;
   
  }
  
#last{
    float: right;
    width: 40%;
    position: relative;
    
    margin-left: 10px;
    flex-direction: row;
    
    
    
    

    &::placeholder{
        font-size: 7px;
        opacity: 0.7;
    }
}
    

#first,#last,#gender,#height{
    width: 40%;
    position: relative;
    top: 0;
    margin-left: 10px;
    

    &::placeholder{
        font-size: 7px;
        opacity: 0.7;

    }
}
#reg{
    width: 270px;
    margin-left: 12px;
    margin-right: 9px;
    font-size: 7px;
    opacity: 0.7;
    height:20px;
    margin-top: 0px;
    color: white;
    background-color:  rgb(38, 218, 200);
}
#pass{
    width: 262px;
    margin-left: 12px;
    margin-right: 12px;    
}
#active{
    width: 262px;
    margin-left: 12px;
    margin-right: 12px; 
    &::placeholder{
        font-size: 7px;
    }   
}
label{
    padding-left: 10px;
}
.click{
    width: 270px;
    text-align: center;
    justify-items: center;
    margin-left: 10px;
}

/* aside */

.asidecontainer{
    display: flex;
    width: 170px;
    height: 600px;
    top: 150px;
    margin-left: 270px;
    border: 1px solid black;
    background-color: rgb(247, 253, 255);
    flex-wrap: wrap;
    flex-shrink: 10;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    left: 860px;
    margin-top: -450px;
    flex-flow: column wrap;
}




.asidenameform{
    
    height: 350px;
    border: 0px ;
    background-color: white;
    border-radius: 6px;
    margin-top: 50px;
    position: relative;
    
    
    font-size: xx-small;
    font-family: 'Times New Roman';
    display: flex;
    flex-direction: column;
    
    flex-shrink: 10;
    flex-wrap: wrap;
    
    width: 150px;
    margin-left: 8px;
    
    align-items: stretch;
    
}

.indi{
   
    
    position: relative;
    font-size: small;
    flex-shrink: 2;
    padding-top: 10px;
    justify-content: flex-start;
    margin-left: 8px;
    
}

    

.asidestart{
        font-size: 7px;
        opacity: 0.5;
    
        line-height: 1.5 ;
        flex-basis: auto;
        
        align-items: center;
        width: 140px;
        margin-left: 8px;

        
        

        
    }

#asidebutt{
    width: 30px;
    height: 30px;
    border-radius: 45px;
    margin-top: 10px;
    background-color: coral;
    text-align: center;
    border: 0px;
    font-size: 8px;
    margin-left: 8px;
    
   
  }
  

    

#asidefirst,#asidelast,#asidegender,#asideweight,#asidepass,#asideactive,#asideheight{
    width: 80%;
    position: relative;
    top: 0;
    flex-grow:0 ;
    margin-left: 10px;
    margin-top: 4px;

    &::placeholder{
        font-size: 7px;
        opacity: 0.7;

    }
}
#asidereg{
    width: 90%;
    margin-left: 10px;
    background-color: rgb(38, 218, 200);
    font-size: 7px;
    border: 0px;
    height:22px;
    margin-top: 15px;
    color: white;

}
label{
    padding-left: 10px;
    padding-top: 7px;
    font-size: 8px;
}
.para{
    font-size: 7px;
    text-align: center;
    justify-items: center;
    padding-left: 7px;
    width: 150px;
    padding-top: 15px;
    line-height: 1.5;
    font-weight: bold;
    
}
span{
    color:blue;
}

